{% extends 'admin/base.html.twig' %}

{% block title %} Administration - Modification du lieu de tournage : {{ shooting.title }} | Marvel Passion {% endblock %}

{% form_theme formShooting 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <section class="d-flex flex-column align-items-center">

        <h1 class="text-center title">Modification du lieu de tournage</h1>
        <h2 class="shooting-title mt-3 mb-3 subtitle">{{ shooting.title }}</h2>

        <div class="col-md-8">
            <img src="{{ asset('uploads/shootings/')  ~ shooting.image }}" alt="{{ shooting.title }}">
        </div>

        <div class="col-md-8 mt-4">
            {{ form_start(formShooting) }}

                {{ form_row(formShooting.title, {'attr': {'placeholder': 'Titre du film ou de la série'}}) }}
                {{ form_row(formShooting.address, {'attr': {'placeholder': 'Adresse du lieu de tournage'}}) }}
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(formShooting.lat, {'attr': {'placeholder': 'Latitude du lieu de tournage'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(formShooting.lng, {'attr': {'placeholder': 'Longitude du lieu de tournage'}}) }}
                    </div>
                </div>

                {{ form_row(formShooting.description, {'attr': {'placeholder': 'Description du lieu de tournage'}}) }}
                {{ form_row(formShooting.image, {'attr': {'placeholder': 'Choisissez l\'image du lieu de tournage'}}) }}
                
                {{ form_row(formShooting.movie) }}
                
                {{ form_row(formShooting.serie) }}

                <button type="submit" class="mt-2 btn btn-form btn-form-design">Modifier</button>

            {{ form_end(formShooting) }}
        </div>
    </section>

{% endblock %}

{% block javascript %}

    <script src="{{ asset('js/cutCaract.js') }}"></script>
    <script>changeTextImg('#shooting_image')</script>

{% endblock %}