{% extends 'base.html.twig' %}

{% block title %} {{ series.title }} | Marvel-Passion {% endblock %}

{% block body %}

    <article class="mr-4 ml-4">
        <h1 class="title text-center mb-5">{{ series.title }}</h1>
        <div class="content-series d-flex flex-column align-items-center">
            <img class="img-fluid col-md-8" src="{{ asset('uploads/series/') ~ series.image }}" alt="{{ series.title }}">

            <div class="container-fluid">
                <div class="row">
                    <div class="mr-4 ml-4 mt-5">
                        <h2 class="subtitle">Introduction</h2>
                        <p class="mt-4"> {{ series.introduction | raw }} </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="content-series-show mt-2 mr-4 ml-4">
                        <h2 class="subtitle mb-4">Informations</h2>   
                        <p>{{ series.content | raw }}</p>
                        <p class="date">Publié le {{ series.creationDate | date('d/m/Y')}} à {{ series.creationDate | date('H:i') }} par {{ series.user.pseudo }}</p>
                    </div>
                </div>
            </div>

            <p class="border-bottom"></p>            
        </div>

        {% include 'common/comment.html.twig' with {'comments': series.comments} %}

    </article>

{% endblock %}