{% extends 'Templates/front/base.html.twig' %}

{% block title %} {{ humor.title }} | Marvel-Passion {% endblock %}

{% block metaDescription %}Marvel Passion - Découvrez le meme d'humour {{ humor.title }}.{% endblock %}

{% block ogTitle %}  {{ humor.title }} | Marvel-Passion  {% endblock %}
{% block ogDescription %}}Marvel Passion - Découvrez le meme d'humour {{ humor.title }}.{% endblock %}

{% block twiDescription %}}Marvel Passion - Découvrez le meme d'humour {{ humor.title }}.{% endblock %}
{% block twiTitle %} {{ humor.title }} | Marvel-Passion  {% endblock %}

{% block body %}

    <article class="mr-4 ml-4">
        <h1 class="title text-center mb-5">{{ humor.title }}</h1>
        <div class="content-humor d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('uploads/humor/') ~ humor.image }}" alt=">{{ humor.title }}">
            <div>
                <p class="date">Publié le {{ humor.creationDate | date('d/m/Y')}} à {{ humor.creationDate | date('H:i') }} par <a class="author-article" href="{{ path('show_user',{'pseudo': humor.user.pseudo}) }}">{{ humor.user.pseudo }}</a></p>
            </div>
            <p class="border-bottom"></p>            
        </div>

        {% include 'CommentBundle/Ressources/views/Front/comment.html.twig' with {'comments': humor.comments} %}

    </article>

{% endblock %}