{% extends 'admin/base.html.twig' %}

{% block title %} Administration - Films | Marvel-Passion{% endblock %}

{% block body %}

    <section>
        <h1 class="text-center title mb-4">Gestion des articles de film</h1>

        <div class="table-responsive">
            <table class="table table-hover">

                <thead class="text-center">
                    <tr class="table-admin">
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de création</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for movie in paginator.data %}
                    <tr id="{{ movie.id }}">
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.title }}</td>
                        <td>
                            <img class="avatar avatar-mini" src="{{ asset('uploads/avatar/') ~ movie.user.avatar }}" alt="Avatar de {{ movie.user.pseudo }}">
                            {{ movie.user.pseudo }}
                        </td>
                        <td>{{ movie.creationDate | date('d/m/Y') }} à {{ movie.creationDate | date('H:i') }}</td>
                        <td>
                            <a href="{{ path('edit_movie',{'id': movie.id}) }}">
                                <i class="admin-icon-edit far fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <i onclick="deleteMovie({{ movie.id }})" class="admin-icon-trash fas fa-trash"></i>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    
        <a class="btn btn-admin ml-2" href="{{ path('create_movie')}}"><i class="fas fa-plus-circle"></i> Ajouter un article de film</a>
        
        {{ paginator.display() }}

    </section>

{% endblock %}

{% block javascript %}

<script>
    function deleteMovie(id)
    {
        if (confirm("Êtes-vous sûre de vouloir supprimer l'article de film ?")) 
        {
            url = '{{ path('delete_movie', { 'id': 0}) }}';
            url = url.replace("0", id);
            $.ajax({ 
                url: url,
                type: 'delete', 
                success: function(result) 
                {
                    $('#' + id).remove();
                },
                error: function(e){
                    console.log(e.responseText);
                }
            });
        }
    }
</script>


{% endblock %}
