{% set nbComment = comments|length %}

    {% if app.user %}
        <div class="mb-4">
            {{ form_start(formComment) }}

                {{ form_row(formComment.content, {'attr': {'placeholder': 'Votre commentaire'}}) }}

                <button type="submit" class="btn btn-form">Commenter</button>
            
            {{ form_end(formComment) }}
        </div>  
        {% else %}
        <div class="mb-4">
            <p class="connect-to-comment">Vous devez être connecté(e) pour pouvoir commenter</p>
        </div>
    {% endif %}

    {% if nbComment > 0 %}

        {% if comments|length == 1 %}
            <h2 class="mb-4">
                <i class="fas fa-comment icon-comment fa-1x"></i> 
                <span class="nb-comment"> {{ nbComment }} commentaire : </span>
            </h2>
        {% else %}
            <h2 class="mb-4">
                <i class="fas fa-comments icon-comment fa-1x"></i> 
                <span class="nb-comment"> {{ nbComment }} commentaires : </span> 
            </h2>
        {% endif %}
        {% for comment in comments %}
            <div>
                <div class="mb-2">
                    <a href="{{ path('show_user',{'pseudo': comment.user.pseudo}) }}">
                        {% if comment.user.avatar is not null %}
                            <img class="avatar avatar-mini" src=" {{  asset('uploads/avatar/') ~ comment.user.avatar }}" alt="avatar de {{ comment.user.pseudo }}" />
                        {% else %}
                            <i class="avatar-design avatar-design-comment fas fa-user"></i>
                        {% endif %}
                    </a>
                    <span>
                        <a class="user-comment" href="{{ path('show_user',{'pseudo': comment.user.pseudo}) }}">
                            {{ comment.user.pseudo }}
                        </a>
                        <em class="date-comment"> {{ comment.creationDate|date('d/m/Y') }}  à {{ comment.creationDate | date('H:i') }} </em>
                    </span>
                </div>
                <blockquote>
                    {{ comment.content | raw}}
                </blockquote>
            </div>
            <p class="border-bottom"></p>  
        {% endfor %}
        
    {% endif %}