{% extends 'admin/base.html.twig' %}

{% block title %} Administration - Création d'un article de série | Marvel Passion {% endblock %}

{% form_theme formSerie 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <section class="d-flex flex-column align-items-center">

        <h1 class="text-center title">Création d'un article de série</h1>

        <p>
            <a href="{{ path('admin') }}">Retour à l'administration</a>
        </p>

        <div class="col-md-8">
            {{ form_start(formSerie) }}

                {{ form_row(formSerie.title, {'attr': {'placeholder': 'Titre de la série'}}) }}
                {{ form_row(formSerie.introduction, {'attr': {'placeholder': 'Introduction de la série'}}) }}
                {{ form_row(formSerie.content, {'attr': {'placeholder': 'Contenu de la série'}}) }}
                {{ form_row(formSerie.image, {'attr': {'placeholder': 'Url de l\'image de la série'}}) }}

                <button type="submit" class="btn btn-form">Ajouter</button>

            {{ form_end(formSerie) }}
            
        </div>
    </section>

{% endblock %}
