<div class="col-md-6">
    <div class="card {{ classBg }} mb-3 text-center">
        <a class="card-body" href="{{ path(path) }}" alt="{{ alt }}">
            <div class="row">
                <div class="col-4">
                    <i class="{{ classIcon }}"></i>
                </div>
                <div class="col-8">
                    <h4 class="card-title">{{ number }} {{ text }}</h4>
                </div>
            </div>
        </a>
    </div>
</div>