<div class="col-md-6">
    <h2 class="text-center mb-5 mt-5">
        <i class="title-admin {{ classIcon }}"> {{ titleText }}</i>
    </h2>
    <div class="table-responsive alert alert-danger table-design-dasboard">
        <h3 class="text-center subtitle-dashboard mt-3 mb-3">
            <i class="{{ classIcon }}"></i>
            {{ titleCard }}
        </h3>
        <table class="table table-hover">

            <thead class="text-center">
                <tr class="design-table-dasboard">
                    <th>{{ th1 }}</th>
                    <th>{{ th2 }}</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for info in infos %}
                    {% if infos == movies or infos == series or infos == humor %}
                        <tr>
                            <td>{{ info.title }}</td>
                            <td class="d-flex flex-column align-items-center">
                                {% if info.user.avatar is not null %}
                                    <img class="mb-3 mt-2 avatar avatar-mini" src="{{ asset('uploads/avatar/') ~ info.user.avatar }}" alt="Avatar de {{ info.user.pseudo }}">
                                {% else %}
                                    <i class="mb-3 mt-2 avatar-design avatar-design-admin fas fa-user"></i>
                                {% endif %}
                                {{ info.user.pseudo }}
                            </td>
                        </tr>
                    {% elseif infos == shootings %}
                        <tr>
                            <td>{{ info.title }}</td>
                            <td>{{ info.address }}</td>
                        </tr>
                    {% elseif infos == comments %}
                        <tr>
                            <td class="d-flex flex-column align-items-center">
                                {% if info.user.avatar is not null %}
                                <img class="mb-3 mt-2 avatar avatar-mini" src="{{ asset('uploads/avatar/') ~ info.user.avatar }}" alt="Avatar de {{ info.user.pseudo }}">
                                {% else %}
                                    <i class="mb-3 mt-2 avatar-design avatar-design-admin fas fa-user"></i>
                                {% endif %}
                                {{ info.user.pseudo }}
                            </td>
                            <td>{{ info.content | raw }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>