{% extends 'admin/base.html.twig' %}

{% block title %} Administration - Humour {% endblock %}

{% block body %}

    <section>

        <h1 class="text-center title mb-4">Gestion des commentaires</h1>


        

        <div class="table-responsive">
            <table class="table table-hover">

                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Date</th>
                        <th>Auteur</th>
                        <th>Commentaire</th>
                        <th>Catégorie</th>
                        <th>Titre</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody class="text-center">

                    {% for comment in paginator.data %}

                    <tr class="text-center">
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.creationDate | date('d/m/Y') }} à {{ comment.creationDate | date('H:i') }}</td>
                        <td>
                            <img class="avatar avatar-mini" src="{{ comment.user.avatar }}" alt="Avatar de {{ comment.user.pseudo }}">
                            {{ comment.user.pseudo }}
                        </td>
                        <td>{{ comment.content }}</td>
                        <td>
                            {% if comment.movie == true %}
                                Film
                            {% endif %}

                            {% if comment.series == true %}
                                Série
                            {% endif %}

                            {% if comment.humor == true %}
                                Humour
                            {% endif %}
                        </td>
                        <td>
                            {% if comment.movie == true %}
                                {{ comment.movie.title }}
                            {% endif %}

                            {% if comment.series == true %}
                                {{ comment.series.title }}
                            {% endif %}

                            {% if comment.humor == true %}
                                {{ comment.humor.title }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('edit_comments',{'id': comment.id}) }}">
                                <i class="admin-icon-edit far fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('delete_comments',{'id': comment.id}) }}">
                                <i class="admin-icon-trash fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>

        {{ paginator.display() }}

    </section>

{% endblock %}
