{% extends 'base.html.twig' %}

{% block title %} Profil de {{ user.pseudo }} | Marvel-Passion {% endblock %}

{% block body %}

    <section>
        <div class="d-flex flex-column align-items-center">

            <h1>
                <img src="{{  asset('uploads/avatar/') ~ user.avatar }}" class="avatar avatar-profil avatar-medium" alt="Avatar de {{ user.pseudo }}">
                <span class="ml-2 text-center title">Profil de {{ user.pseudo }}</span>
            </h1>
        

            {% if user is same as(app.user) %}
                <div class="row row-blog">
                    <div class="mt-3 ml-3">
                        <a href="{{ path('account_profile' )}}" class="btn btn-form mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('account_password' )}}" class="btn btn-form mb-2">Modifier mon mot de passe</a>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if user.description %}

            <div class="mt-5 ml-4 mr-4 text-justify">
                <h2 class="profil-title mb-5"> Description </h2>
                <p class="user-description"> {{ user.description|raw }} </p>
            </div>
        
        {% endif %}

        {% include 'common/displayArticles.html.twig' with {'articles': user.movies, 'show': 'show_movies', 'image': 'uploads/movies/', 'title': 'de film', 'pseudo': user.pseudo} %}

        {% include 'common/displayArticles.html.twig' with {'articles': user.series, 'show': 'show_series', 'image': 'uploads/series/', 'title': 'de serie', 'pseudo': user.pseudo} %}
        
        {% include 'common/displayArticles.html.twig' with {'articles': user.humors, 'show': 'show_humor', 'image': 'uploads/humor/', 'title': 'd\'humour', 'pseudo': user.pseudo} %}

    </section>

{% endblock %}
