{% extends 'base.html.twig' %}

{% block title %} Profil de {{ user.pseudo }} | Marvel-Passion {% endblock %}

{% block body %}

    <section class="d-flex flex-column align-items-center">

        <div class="row align-items-center">
            <div class="col-3">
                <img src="{{ user.avatar }}" class="avatar" alt="Avatar de {{ user.pseudo }}">
                <br/>
            </div>
            <div class="col-9">
                <h1 class="text-center user-profile">Profil de {{ user.pseudo }}</h1>
            </div>
        </div>

        {% if user is same as(app.user) %}
        <div class="row">
            <div class="mt-3">
                <a href="{{ path('account_profile' )}}" class="btn btn-form mr-2 mb-2">Modifier mes informations</a>
                <a href="{{ path('account_password' )}}" class="btn btn-form mb-2">Modifier mon mot de passe</a>
            </div>
        </div>
        {% endif %}

        {% if user.description %}

            <div class="mt-4 ml-4 mr-4 text-justify">
                <h2 class="subtitle mb-4"> Description </h2>
                <p class="user-description"> {{ user.description|raw }} </p>
            </div>
        
        {% endif %}

       

        {% if user.movies | length > 0 %}

            <h2 class="subtitle mb-4"> Les articles films de {{ user.pseudo }} </h2>
            
            <div class="row">
               {% for movie in user.movies %}
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <a href="{{ path('show_movies',{'id': movie.id}) }}">
                                <div class="card-hearder mt-3 mb-3 text-center">
                                    {{ movie.title }}
                                </div>
                            </a>
                            
                            <a class="text-center" href="{{ path('show_movies',{'id': movie.id}) }}">
                                <img class="img-size img-fluid" src="{{ movie.image }}" alt="{{ movie.title }}">
                            </a>

                            <div class="card-body text-intro">
                                <p class="card-text text-justify">
                                    {{ movie.introduction | raw}}
                                </p>
                                <p>
                                <p>
                                    <a href="{{ path('show_movies',{'id': movie.id}) }}" class="btn btn-form">En savoir plus</a>
                                </p>
                            </div>
                            
                        </div>
                    </div>

               {% endfor %}
            </div>

        {% endif %}

        
    </section>

{% endblock %}
