{% extends 'Templates/back/base.html.twig' %}

{% block title %} Administration - Modification de l'article de film : {{ movie.title }} | Marvel Passion {% endblock %}

{% form_theme formMovie 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <section class="d-flex flex-column align-items-center">
        
        <h1 class="text-center title">Modification de l'article de film</h1>
        <h2 class="movie-title mt-3 mb-3 subtitle">{{ movie.title }}</h2>

        <div class="col-md-8 text-center">
            <img src="{{ asset('uploads/movies/')  ~ movie.image }}" alt="{{ movie.title }}">
        </div>

        <div class="col-md-8 mt-4">
            {{ form_start(formMovie) }}

                {{ form_row(formMovie.title, {'attr': {'placeholder': 'Titre du film'}}) }}
                {{ form_row(formMovie.introduction, {'attr': {'placeholder': 'Introduction du film'}}) }}
                {{ form_row(formMovie.content, {'attr': {'placeholder': 'Contenu du film'}}) }}
                {{ form_row(formMovie.image, {'attr': {'placeholder': 'Choisissez l\'image à la une du film'}}) }}

                <button type="submit" class="mt-2 btn btn-form btn-form-design">Modifier</button>

            {{ form_end(formMovie) }}
            
        </div>    
    </section>

{% endblock %}

{% block javascript %}

    <script src="{{ asset('js/cutCaract.js') }}"></script>
    <script>changeTextImg('#movie_image')</script>

{% endblock %}